body{
    background-color: #eef9bf;
    font-family: 'Roboto', sans-serif;
}
.nome{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.nome h1{
    margin-top:20px;
    margin-bottom: 50px;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    color: #7cba9f;  
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.baralho{
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.baralho div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    height: 146px;
    width: 117px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #a7e9af; 
    border: 1px solid #99CEA8;
    transform: rotate(360deg);
}
.baralho img{
    width: 100px;
    height: 100px;
}
@media(max-width: 640px){
    .nome{
        width: 250px;
    }
    .nome h1{
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -0.004em;
        text-align: center;

    }
    
}