body{
    background-color: #eef9bf;
    font-family: 'Roboto', sans-serif;
}
.nome{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.nome h1{
    margin-top:20px;
    margin-bottom: 50px;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    color: #7cba9f;  
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}
.baralho{
width: 800px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   
}
/*.front-face{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    height: 146px;
    width: 117px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #a7e9af; 
    border: 1px solid #99CEA8;
    position: absolute;
    transition: all 1s;
    
}*/
.cartas{
    width: 150px;
    height: calc(33.333% - 10px);
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}
.virada{
    transform: rotateY(180deg);
}
.baralho img{
    width: 100px;
    height: 100px;
}
.front-face, .back-face{
    margin-right: 50px;
    height: 146px;
    width: 117px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    background-color: #a7e9af; 
    border: 1px solid #99CEA8;
    position: absolute;
}
.back-face{
    right: -50px;
}
.front-face {
    transform: rotateY(180deg);
  }
/*.back-face{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 146px;
    width: 117px;
    border-radius: 5px;
    background-color: #a7e9af; 
    border: 1px solid #99CEA8;
    position: absolute;
    transform: scalex(-1);
    
}*/
.esconder{
    display: none;
}
@media(max-width: 640px){
    .nome{
        width: 250px;
    }
    .nome h1{
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -0.004em;
        text-align: center;

    }
    .baralho{
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
       
    }
}